<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <div class="flex">
            <img class="w-8 h-8 mr-4" src="static/bowser.png">
            <h1 class="logo">Trendsphere</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="login">
            <button onclick="location.href='#login'">Login</button>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Trendsphere. All rights reserved.</p>
    </footer>
</body>
</html>